html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'chub';
    src: url('../fonts/chubgothic.ttf') format('truetype');
}

@font-face {
    font-family: 'paris';
    src: url('../fonts/parisienne.ttf') format('truetype');
}

@font-face {
    font-family: 'myan';
    src: url('../fonts/myanmar.ttf') format('truetype');
}

/* --- Text-Based Elements --- */

h1 {
    font-family: 'chub', sans-serif;
    padding: 2%;
    width: 80vw;
    margin: auto;
}

h2 {
    font-family: 'chub', sans-serif;
    color: #7a2426;
    font-size: 2rem;
    font-variant: small-caps;
}

h3 {
    font-family: 'paris', serif;
    color: #c5845a;
    font-size: 1.5rem;
}

p {
    font-family: 'myan', sans-serif;
    color: #162b48;
    padding: 2%;
    margin: 2%;
    background-color: hsla(45, 28%, 96%, 0.7);
    font-size: 1.1em;
}

a {
        color: #c70005;
}

a:hover {
        color: #c5845a;
}

.hidden_title {
    display: none;
}

/* --- General Formatting --- */

body {
    background-image: url('../img/eiffel.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    overflow-x: hidden;
}

#container {
    background-image: url('../img/skin.png');
    background-repeat: no-repeat;
    width: 90vw;
    margin: -2% auto 0 auto;
    padding: 2% 2% 0 2%;
}

#content {
    padding: 2%;
    background-color: hsla(43, 67%, 84%, 0.67);
}

header {
    padding: 2%;
    margin: -15%;
    border: .5rem solid hsla(360, 100%, 100%, 0.8);
    background-color: hsla(360, 100%, 100%, 0.5);

}

header img {
    width: 100%;
    height: auto;
}

section {
    padding: 2rem;

}

#special {
    background-image: url('../img/dish_ratatouille.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#special h3 {
    font-size: 2.5rem;
    margin-top: -6%;
    margin-bottom: -6%;
    color: #7a2426;
}

#reservations {
    text-align: center;
    margin-left: -2%;
    margin-right: -2%;
    background-image: url('../img/glitter.jpg');
    background-repeat: no-repeat;
}

#reservations h2 {
    font-family: 'paris', serif;
    font-size: 2.5rem;
    font-variant: normal;
    color: #7a2426;
}

#reservations h3 {
    font-family: 'chub', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    color: #20334b;
    margin-top: -12%;
    margin-bottom: 12%;
}

#reservations a {
    text-decoration: none;
}

.box {
    border: 1rem solid hsla(360, 100%, 100%, 0.8);
    background-color: hsla(360, 100%, 100%, 0.8);
}

/* --- Social Media 1 --- */

#social_media {
    margin-top: -2%;
}

#social_media,
#social_media2 {
    text-align: center;
}

#social_media ul,
#social_media2 ul {
    display: block;
    width: 25%;
    text-decoration: none;
}

#social_media ul li,
#social_media2 ul li {
    display: inline-block;
    width: 15%;
    margin-left: 5%;
    text-decoration: none;
}

#social_media a,
#social_media a:hover,
#social_media2 a,
#social_media2 a:hover {
    text-decoration: none;
}

#social_media a img,
#social_media2 a img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-duration: 1s;
    -moz-filter: invert(0%);
    -webkit-filter: invert(0%);
    filter: invert(0%);
    text-decoration: none;
    width: 4%;
    height: auto;
    max-width: 72%;
    min-width: 30px;
    margin-right: 2%;
}

#social_media a img:hover,
#social_media2 a img:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 1s;
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    text-decoration: none;
}

/* --- Navigation Formatting --- */

nav {
    text-align: center;
    width: 104%;
    margin-left: -2%;
    padding: 0;
    background-color: #7a2426;
    display: none;
}

nav ul {
    display: block;
    width: 100%;
    padding: 0;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    width: 24%;
    margin: 0;
    padding: 2%;
    text-decoration: none;
    transform: scale(1);
}

nav a {
    text-decoration: none;
    font-family: 'chub', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}

nav a:hover {
    text-decoration: none;
    font-family: 'chub', sans-serif;
    text-transform: uppercase;
    color: #ffe680;
}

/* --- Header Formatting --- */


/* --- Header Formatting --- */


/* --- Footer Formatting --- */

#footer {
    background-color: #ffffff;
    padding-bottom: 5%;
    margin-bottom: 0;

}


/* -- Media Queries -- */

@media (min-width: 500px) {
    #events,
    #reservations {
        width: 45%;
        display: inline-block;
    }

    #reservations {
        margin-left: 9%;
        vertical-align: top;
        font-size: 2rem;
    }

    body {
        background-image: url('../img/drapes2.jpg');
        width: 100vw;
        height: auto;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: fixed;
        overflow-x: hidden;
    }

    #social_media,
    #social_media2 {
        text-align: right;
    }

    header {
        margin: -4%;
        border: 1rem solid hsla(360, 100%, 100%, 0.8);
    }

    #special h2 {
        color: #20334b;
    }

    #special h2,
    #special h3 {
        display: inline-block;
    }
}

@media (min-width: 872px) {
    #special,
    #events,
    #reservations,
    .thirds {
        width: 30%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    #events,
    #reservations,
    .thirds:nth-last-child(2) {
        margin-left: 4%;
    }

    body {
        background-image: url('../img/paris.jpg');
    }

    header,
    .box  {
        margin: -2%;
    }

    nav {
        display: block;
    }

    #special {
        min-width: 290px;
    }

    #history,
    #awards {
        width: 45%;
        display: inline-block;
    }

    #awards {
        margin-left: 9%;
        vertical-align: top;
        font-size: 2rem;
    }


}
