html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'chub';
    src: url('../fonts/chubgothic.ttf') format('truetype');
}

@font-face {
    font-family: 'paris';
    src: url('../fonts/parisienne.ttf') format('truetype');
}

@font-face {
    font-family: 'myan';
    src: url('../fonts/myanmar.ttf') format('truetype');
}

/* --- Text-Based Elements --- */

h1 {
    font-family: 'chub', sans-serif;
    visibility: hidden;
    padding: 5px;
    width: 80vw;
    margin: auto;
}

h2 {
    font-family: 'chub', sans-serif;
    color: #7a2426;
    font-size: 2.5em;
    font-variant: small-caps;
}

h3 {
    font-family: 'paris', serif;
    color: #c5845a;
    font-size: 1.5em;
}

p {
    font-family: 'myan', sans-serif;
    color: #162b48;
    padding: 5px;
    margin: 5px;
    background-color: hsla(45, 28%, 96%, 0.7);
    font-size: 1.1em;
}

a {
        color: #c70005;
}

a:hover {
        color: #c5845a;
}

/* --- General Formatting --- */

body {
    background-image: url('../img/eiffel.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    overflow-x: hidden;
}

#container {
    background-image: url('../img/skin.png');
    background-repeat: no-repeat;
    width: 90vw;
    margin: -2% auto 0 auto;
    padding: 2% 2% 0 2%;
}

#content {
    padding: 2%;
    background-color: hsla(43, 67%, 84%, 0.67);
}

header {
    background-color: #ffffff;
    padding: 2%;
}

header img {
    width: 85%;
    height: auto;
    margin-left: 7%;
}

section {
    padding: 2rem;

}

#reservations {
    text-align: center;
    background-color: #7a2426;
}

#reservations h2 {
    font-family: 'paris', serif;
    font-size: 2.5rem;
    font-variant: normal;
    color: #ffffff;
}

#reservations h3 {
    font-family: 'chub', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #f5ebd0;
}

/* --- Social Media 1 --- */

#social_media,
#social_media2 {
    text-align: right;
}

#social_media ul,
#social_media2 ul {
    display: block;
    width: 25%;
    text-decoration: none;
}

#social_media ul li,
#social_media2 ul li {
    display: inline-block;
    width: 15%;
    margin-left: 5%;
    text-decoration: none;
}

#social_media a,
#social_media a:hover,
#social_media2 a,
#social_media2 a:hover {
    text-decoration: none;
}

#social_media a img,
#social_media2 a img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-duration: 1s;
    -moz-filter: invert(0%);
    -webkit-filter: invert(0%);
    filter: invert(0%);
    text-decoration: none;
    width: 4%;
    height: auto;
    max-width: 75px;
    min-width: 30px;
    margin-right: 2%;
}

#social_media a img:hover,
#social_media2 a img:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition-duration: 1s;
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
    text-decoration: none;
}

/* --- Social Media 2 --- */


/* --- Header Formatting --- */


/* --- Header Formatting --- */


/* --- Footer Formatting --- */

#footer {
    background-color: #ffffff;
    padding-bottom: 5%;
    margin-bottom: 0;

}


/* -- Media Queries -- */

@media (min-width: 400px) {
    section,
    #header,
    #nav,
    #special,
    #events,
    #reservations,
    #history,
    #awards {
        width: 100%;
        display: block;
    }

    body {
        background-image: url('../img/eiffel.jpg');
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
        overflow-x: hidden;
}

@media (min-width: 768px) {
    #events,
    #reservations {
        width: 45%;
        display: inline-block;
    }

    #reservations {
        margin-left: 9%;
        vertical-align: top;
        font-size: 2rem;
    }

    body {
        background-image: url('../img/drapes2.jpg');
        width: 100vw;
        height: auto;
        min-height: 100vh;
        background-repeat: no-repeat;
        background-position: left top;
        background-attachment: fixed;
        overflow-x: hidden;
}

@media (min-width: 1224px) {
    #special,
    #events,
    #reservations,
    .thirds {
        width: 30%;
        display: inline-block;
        text-align: center;
    }

    #events,
    #reservations,
    .thirds:nth-last-child(2) {
        margin-left: 4%;
    }

    #history,
    #awards {
        width: 45%;
        display: inline-block;
    }

    #awards {
        margin-left: 9%;
        vertical-align: top;
        font-size: 2rem;
    }

    body {
        background-image: url('../img/paris.jpg');
    }
}
